
body{
    background-color: #f8f7f5;
    margin : 0 ;
    padding : 0  ;
}
.bodyClock{
    display : flex ; 
    justify-content : center ; 
    background-color: #F2D0A4;
    margin : 0 ; 
}

#analogTitle{
    position : block ; 
    padding-left : 35% ;
    font-size: 40px;
    background-color: #C8D6AF;
}
#myClock{ 
    position : relative ; 
    width : 300px ; 
    height : 300px ;
    border : 7px double rgba(0,10,10,0.7)  ;
    border-radius : 50% ; 
    box-shadow : 2px 2px 2px whitesmoke;  
    background : whitesmoke ;   
}
#ClockNumbers{
    position : relative ; 
    width : 100% ; 
    height : 100% ; 
    transform: translateY(-3px) ; 
}

#centerPoint { 
    position : absolute ;
    border  :2px solid grey ; 
    border-radius: 50%;
    background-color: grey;
    z-index : 10 ; 
    top : 46% ;
    left : 46% ; 
    width : 20px ; 
    height : 20px ; 

}

.hands{
    position : absolute ; 
    top : 50% ; 
    width  : 50% ; 
    z-index : 5 ; 
    background-color: rgb(15, 13, 12);
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: linear ; 
}

#hourHand{
    background-color : grey ; 
    height : 4px ; 
}

#minuteHand {
    background-color: grey ;
    height : 3px ; 
}

#secondHand{
    background-color: #A4303F;
    height : 1px ; 
}


.numbers {
position: absolute;
font-size: 16px;
transform: translate(-50%, -50%);
}


.number-1  { top: 15%; left: 78%; }
.number-2  { top: 30%; left: 90%; }
.number-3  { top: 49%; left: 96%; }
.number-4  { top: 70%; left: 92%; }
.number-5  { top: 86%; left: 78%; }
.number-6  { top: 94%; left: 50%; }
.number-7  { top: 86%; left: 24%; }
.number-8  { top: 70%; left: 8%; }
.number-9  { top: 49%; left: 4%; }
.number-10 { top: 30%; left: 10%; }
.number-11 { top: 15%; left: 22%; }
.number-12 { top: 6%; left: 50%; }

#myDay{
position:absolute;
top : 70% ; 
left : 52% ; 
text-align : center ; 
height :20px ; 
width : 7rem ; 
border: 2px solid #424143;
background-color: #0A0520 ;
z-index : 34 ; 
transform:translate(-50%,-50%) ;
font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
color : white ; 

}
